
# Server
HOST=0.0.0.0
PORT=6466

# Secrets
APP_KEYS=
API_TOKEN_SALT=
ADMIN_JWT_SECRET=
TRANSFER_TOKEN_SALT=
ENCRYPTION_KEY=

# Database
DATABASE_CLIENT=
DATABASE_HOST=
DATABASE_PORT=5432
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SSL=false
DATABASE_FILENAME=.tmp/data.db
JWT_SECRET=

# Environment
NODE_ENV=production

# Admin
PG_ADMIN_USERNAME=
PG_ADMIN_PASSWORD=

# Angular BFF
BASE_PATH_STRAPI=http://strapi:6466
STRAPI_API_TOKEN=
STRAPI_API_TOKEN_READ_ONLY=