@use '../../../shared/' as *;

.cert_grid {
  @include grid(1fr, auto, 1rem, stretch, center);
  width: 80%;
  justify-self: center;
}
.cert_list {
  @include grid(max-content 1fr max-content, auto, 2rem, stretch, center);

  h4 {
    margin: 0;
  }
}
