<div class="card-wrapper">
  @for (card of items(); track $index) {
    @if (card.variant === 'simple') {
      <a class="card simple" [href]="card.cta?.href">
        @if (!card.icon_variant) {
          <img class="card-image" [src]="card.imgSrc" [alt]="card.imgAlt" />
        }
        @if (card.icon_variant) {
          <lpd-icon
            [iconName]="card.icon?.name"
            [color]="card.icon?.color"
            [iconPrefix]="card.icon?.prefix || 'far'"
          ></lpd-icon>
        }
        <h4 class="card-headline">{{ card.headline }}</h4>
        <div [innerHTML]="card.text"></div>
      </a>
    }
    @if (card.variant === 'contact') {
      @if (!card.icon_variant) {
        <img class="card-image" [src]="card.imgSrc" [alt]="card.imgAlt" />
      }
      @if (card.icon_variant) {
        <a class="card contact" [href]="card.cta?.href">
          <h4 class="card-headline">{{ card.headline }}</h4>
          <lpd-icon
            [iconName]="card.icon?.name"
            [color]="card.icon?.color"
            [iconPrefix]="card.icon?.prefix || 'far'"
          ></lpd-icon>
          {{ card.cta?.label }}
        </a>
      }
    }
    @if (card.variant === 'reference') {
      <div class="card reference">
        @if (!card.icon_variant) {
          <img class="card-image" [src]="card.imgSrc" [alt]="card.imgAlt" />
        }
        @if (card.icon_variant) {
          <lpd-icon
            [iconName]="card.icon?.name"
            [color]="card.icon?.color"
            [iconPrefix]="card.icon?.prefix || 'far'"
          ></lpd-icon>
        }
        <h4 class="card-headline">{{ card.headline }}</h4>
        @if (card.cta) {
          <lpd-link class="card-cta" [item]="card.cta"></lpd-link>
        }
      </div>
    }
    @if (card.variant === 'full') {
      <div class="card full">
        @if (card.icon_variant) {
          <lpd-icon
            class="card-icon"
            [iconName]="card.icon?.name"
            [iconPrefix]="card.icon?.prefix || 'fas'"
            [color]="card.icon?.color"
          ></lpd-icon>
        }
        @if (!card.icon_variant) {
          <img class="card-image" [src]="card.imgSrc" [alt]="card.imgAlt" />
        }
        <span class="card-date">{{ card.date }}</span>
        <h6 class="card-subline">{{ card.subline }}</h6>
        <h4 class="card-headline">{{ card.headline }}</h4>
        <div class="card-text" [innerHTML]="card.text"></div>
        @if (card.cta) {
          <lpd-link class="card-cta" [item]="card.cta"></lpd-link>
        }
      </div>
    }
  }
</div>
