@use '../../../shared/index.scss' as *;

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 3rem;

  .simple {
    @include flex(column, flex-start);
    @include border-open($accent-blue);
    @include transition;
    @include tile-width(3, 3rem);
    cursor: pointer;
    text-align: justify;
    padding: $spacing-05 $spacing-05;
    background-color: $accent-green;
    animation: pop-up-down 500ms both;
    &:hover {
      background-color: $accent-blue;
      animation: pop-up-top 500ms both;
      filter: $shadow-header;
      color: $text-black;
    }
    &__image {
      height: 5rem;
    }
    .headline {
      margin: $spacing-03 0;
    }
  }
}
