<div class="timeline">
  @for (item of timeline(); track item; let i = $index) {
    <div
      class="box"
      [ngClass]="item.side"
      [ngStyle]="{ 'animation-delay': i * 180 + 'ms' }"
      >
      <div
        class="content"
        [ngClass]="[item.side === 'right' ? 'right' : 'left']"
        >
        <h2>{{ item.year }}</h2>
        <p>{{ item.title }}</p>
      </div>
      <div
        class="details"
        [ngClass]="item.side === 'right' ? 'right' : 'left'"
        [class.hidden]="!item.showDetails"
        [class.visible]="item.showDetails"
        >
        {{ item.details }}
      </div>
    </div>
  }
</div>
