<ol class="timeline">
  @for (item of items(); track $index) {
    <li class="timeline-item">
      <div class="content">
        @if (item.period) {
          <span class="subline">{{ item.period }}</span>
        }
        <h3 class="headline">{{ item.headline }}</h3>
        @if (item.shortDescription) {
          <p class="short-description">{{ item.shortDescription }}</p>
        }
        @if (item.longDescriptionHtml) {
          <div class="details" [innerHTML]="item.longDescriptionHtml"></div>
        }
      </div>
    </li>
  }
</ol>
