@use '../../../shared/index.scss' as *;

.textblock {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
  &.center {
    align-items: center;
  }
  @include tablet {
    padding: 0;
  }
}
