<div class="error">
    <h1 class="headline--error">{{error()}}</h1>
    <div class="error-image">
        <img src="../ghost404.png"
            alt="Zeichnung eines niedlichen Geistes im Comic Stil, der eine Laterne in der Hand hält">
    </div>

    @if(error() === 404) {

    <a class="button" href="/"><lpd-icon class="icon" [iconName]="'arrow-left'" [iconPrefix]="'fas'"></lpd-icon>Zurück
        zur Startseite</a>
    } @else {
    <a class="button" href="location.reload();"><lpd-icon class="icon" [iconName]="'rotate'"
            [iconPrefix]="'fas'"></lpd-icon>Nochmal
        versuchen</a>
    }

</div>