<div class="web-container">
  <svg viewBox="0 0 640.97 666.17" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <clipPath id="clip-main">
        <circle r="16" />
      </clipPath>
      <clipPath id="clip-sub">
        <circle r="12" />
      </clipPath>
    </defs>

    <g transform="translate(16.768 36.437)" class="web-group">
      <path
        id="top-middle-1"
        [attr.pathLength]="1"
        d="m185.25 183.45-2.9575-15.902"
        [class.glow]="activePaths().has('top-middle-1')"
      />
      <path
        id="top-middle-2"
        [attr.pathLength]="1"
        d="m182.29 167.55-2.9218-15.711"
        [class.glow]="activePaths().has('top-middle-2')"
      />
      <path
        id="top-middle-3"
        [attr.pathLength]="1"
        d="m179.37 151.84-3.4235-18.408"
        [class.glow]="activePaths().has('top-middle-3')"
      />
      <path
        id="top-middle-4"
        [attr.pathLength]="1"
        d="m175.95 133.43-3.7137-19.968"
        [class.glow]="activePaths().has('top-middle-4')"
      />
      <path
        id="top-middle-5"
        [attr.pathLength]="1"
        d="m172.23 113.46-3.8944-20.94"
        [class.glow]="activePaths().has('top-middle-5')"
      />
      <path
        id="top-middle-6"
        [attr.pathLength]="1"
        d="m168.34 92.521-5.072-27.272"
        [class.glow]="activePaths().has('top-middle-6')"
      />
      <path
        id="top-middle-7"
        [attr.pathLength]="1"
        d="m163.27 65.249-6.0657-32.615"
        [class.glow]="activePaths().has('top-middle-7')"
      />
      <path
        id="top-middle-8"
        [attr.pathLength]="1"
        d="m157.2 32.634-4.456-23.96"
        [class.glow]="activePaths().has('top-middle-8')"
      />
      <path
        id="top-middle-9"
        [attr.pathLength]="1"
        d="m152.75 8.6735-4.4431-23.89"
        [class.glow]="activePaths().has('top-middle-9')"
      />
      <path
        id="top-middle-10"
        [attr.pathLength]="1"
        d="m148.3-15.217-1.7134-9.2131"
        [class.glow]="activePaths().has('top-middle-10')"
      />

      <path
        id="top-second-horizontal-2"
        [attr.pathLength]="1"
        d="m152.84 8.8844s73.504 46.851 132.36 12.424"
        [class.glow]="activePaths().has('top-second-horizontal-2')"
      />

      <path
        id="top-second-vertical-1"
        [attr.pathLength]="1"
        d="m39.424 74.407c4.4422 83.846-38.869 100.5-38.869 100.5"
        [class.glow]="activePaths().has('top-second-vertical-1')"
      />
      <path
        id="top-second-vertical-2"
        [attr.pathLength]="1"
        d="m0.555 174.91s72.222 57.645 22.248 161.48"
        [class.glow]="activePaths().has('top-second-vertical-2')"
      />

      <path
        id="bottom-left-third-1"
        [attr.pathLength]="1"
        d="m-13.882 375.92c7.8342-9.8487 20.608-23.51 36.013-39.046"
        [class.glow]="activePaths().has('bottom-left-third-1')"
      />
      <path
        id="bottom-left-third-2"
        [attr.pathLength]="1"
        d="m22.131 336.87c11.358-11.455 24.146-23.93 37.439-36.649"
        [class.glow]="activePaths().has('bottom-left-third-2')"
      />
      <path
        id="bottom-left-third-3"
        [attr.pathLength]="1"
        d="m59.57 300.23c7.0112-6.7083 14.163-13.484 21.319-20.214"
        [class.glow]="activePaths().has('bottom-left-third-3')"
      />
      <path
        id="bottom-left-third-4"
        [attr.pathLength]="1"
        d="m80.888 280.01c7.9372-7.4645 15.88-14.872 23.643-22.067"
        [class.glow]="activePaths().has('bottom-left-third-4')"
      />
      <path
        id="bottom-left-third-5"
        [attr.pathLength]="1"
        d="m104.53 257.94c3.2-2.966 6.3694-5.896 9.4952-8.7789"
        [class.glow]="activePaths().has('bottom-left-third-5')"
      />
      <path
        id="bottom-left-third-6"
        [attr.pathLength]="1"
        d="m114.03 249.17c6.1401-5.663 12.112-11.145 17.818-16.363"
        [class.glow]="activePaths().has('bottom-left-third-6')"
      />
      <path
        id="bottom-left-third-7"
        [attr.pathLength]="1"
        d="m131.84 232.8c12.347-11.292 23.446-21.348 32.298-29.332"
        [class.glow]="activePaths().has('bottom-left-third-7')"
      />
      <path
        id="bottom-left-third-8"
        [attr.pathLength]="1"
        d="m164.14 203.47c3.4566-3.1173 6.5708-5.9188 9.2833-8.3545"
        [class.glow]="activePaths().has('bottom-left-third-8')"
      />
      <path
        id="bottom-left-third-9"
        [attr.pathLength]="1"
        d="m173.43 195.12c7.5885-6.8143 12.033-10.767 12.033-10.767"
        [class.glow]="activePaths().has('bottom-left-third-9')"
      />
      <path
        id="bottom-left-middle-9"
        [attr.pathLength]="1"
        d="m185.46 184.35-19.157-0.97185"
        [class.glow]="activePaths().has('bottom-left-third-10')"
      />
      <path
        id="bottom-left-middle-8"
        [attr.pathLength]="1"
        d="m166.3 183.38-15.004-0.76116"
        [class.glow]="activePaths().has('bottom-left-third-11')"
      />
      <path
        id="bottom-left-middle-7"
        [attr.pathLength]="1"
        d="m151.3 182.62-21.722-1.102"
        [class.glow]="activePaths().has('bottom-left-third-12')"
      />
      <path
        id="bottom-left-middle-6"
        [attr.pathLength]="1"
        d="m129.58 181.52-22.872-1.1603"
        [class.glow]="activePaths().has('bottom-left-third-13')"
      />
      <path
        id="bottom-left-middle-5"
        [attr.pathLength]="1"
        d="m106.7 180.35-25.402-1.2886"
        [class.glow]="activePaths().has('bottom-left-third-14')"
      />
      <path
        id="bottom-left-middle-4"
        [attr.pathLength]="1"
        d="m81.301 179.07-24.893-1.2628"
        [class.glow]="activePaths().has('bottom-left-third-15')"
      />
      <path
        id="bottom-left-middle-3"
        [attr.pathLength]="1"
        d="m56.409 177.8-24.303-1.2329"
        [class.glow]="activePaths().has('bottom-left-third-16')"
      />
      <path
        id="bottom-left-middle-2"
        [attr.pathLength]="1"
        d="m32.106 176.57-32.13-1.63"
        [class.glow]="activePaths().has('bottom-left-third-17')"
      />
      <path
        id="bottom-left-middle-1"
        [attr.pathLength]="1"
        d="m-0.023571 174.94-14.278-0.72436"
        [class.glow]="activePaths().has('bottom-left-third-18')"
      />

      <path
        id="top-second-vertical-3"
        [attr.pathLength]="1"
        d="m23.162 336.55s20.427 17.294 10.432 59.494"
        [class.glow]="activePaths().has('top-second-vertical-3')"
      />

      <path
        id="bottom-left-second-1"
        [attr.pathLength]="1"
        d="m121.92 286.5s-2.5882 2.9854-7.0475 8.2152"
        [class.glow]="activePaths().has('bottom-left-second-1')"
      />
      <path
        id="bottom-left-second-2"
        [attr.pathLength]="1"
        d="m114.87 294.72c-4.2304 4.9614-10.145 11.943-17.131 20.311"
        [class.glow]="activePaths().has('bottom-left-second-2')"
      />
      <path
        id="bottom-left-second-3"
        [attr.pathLength]="1"
        d="m97.742 315.03c-6.931 8.3027-14.917 17.971-23.359 28.387"
        [class.glow]="activePaths().has('bottom-left-second-3')"
      />
      <path
        id="bottom-left-second-4"
        [attr.pathLength]="1"
        d="m74.383 343.41c-13.597 16.775-28.378 35.488-41.846 53.56"
        [class.glow]="activePaths().has('bottom-left-second-4')"
      />
      <path
        id="bottom-left-second-5"
        [attr.pathLength]="1"
        d="m32.537 396.97c-18.846 25.287-35.119 49.317-41.977 65.017"
        [class.glow]="activePaths().has('bottom-left-second-5')"
      />

      <path
        id="bottom-left-1"
        [attr.pathLength]="1"
        d="m186.85 183.03s-3.9585 5.76-10.772 16.128"
        [class.glow]="activePaths().has('bottom-left-1')"
      />
      <path
        id="bottom-left-2"
        [attr.pathLength]="1"
        d="m176.08 199.16c-2.4783 3.7715-5.3344 8.1528-8.515 13.088"
        [class.glow]="activePaths().has('bottom-left-2')"
      />
      <path
        id="bottom-left-3"
        [attr.pathLength]="1"
        d="m167.56 212.25c-13.514 20.971-32.888 51.948-54.046 88.681"
        [class.glow]="activePaths().has('bottom-left-3')"
      />
      <path
        id="bottom-left-4"
        [attr.pathLength]="1"
        d="m113.52 300.93c-10.737 18.641-21.934 38.764-33.058 59.813"
        [class.glow]="activePaths().has('bottom-left-4')"
      />
      <path
        id="bottom-left-5"
        [attr.pathLength]="1"
        d="m80.459 360.74c-9.896 18.726-19.734 38.185-29.14 57.986"
        [class.glow]="activePaths().has('bottom-left-5')"
      />
      <path
        id="bottom-left-6"
        [attr.pathLength]="1"
        d="m51.319 418.73c-34.237 72.079-62.74 148.69-67.419 210.95"
        [class.glow]="activePaths().has('bottom-left-6')"
      />

      <path
        id="top-second-horizontal-1"
        [attr.pathLength]="1"
        d="m0.97173 45.949s81.417 32.414 151.94-36.44"
        [class.glow]="activePaths().has('top-second-horizontal-1')"
      />

      <path
        id="top-second-horizontal-1-b"
        [attr.pathLength]="1"
        d="m39.424 74.962s93.008 9.9255 113.55-65.592"
        [class.glow]="activePaths().has('top-second-horizontal-1-b')"
      />

      <path
        id="top-third-horizontal-2"
        [attr.pathLength]="1"
        d="m157.42 33.525s55.09 47.021 113.95 10.373"
        [class.glow]="activePaths().has('top-third-horizontal-2')"
      />

      <path
        id="top-third-horizontal-1"
        [attr.pathLength]="1"
        d="m54.764 85.512s84.402 24.571 102.73-52.612"
        [class.glow]="activePaths().has('top-third-horizontal-1')"
      />

      <path
        id="top-first-horizontal-3"
        [attr.pathLength]="1"
        d="m298.95-1.1105s35.464 68.921 108.76 45.045"
        [class.glow]="activePaths().has('top-first-horizontal-3')"
      />

      <path
        id="top-second-horizontal-3"
        [attr.pathLength]="1"
        d="m285.06 21.447s15.766 62.761 86.841 45.547"
        [class.glow]="activePaths().has('top-second-horizontal-3')"
      />

      <path
        id="path-13"
        [attr.pathLength]="1"
        d="m480.94-1.8593s38.799 30.178 73.226 10.744"
        [class.glow]="activePaths().has('path-13')"
      />

      <path
        id="path-14"
        [attr.pathLength]="1"
        d="m450.16 17.278s46.253 22.146 104-7.8383"
        [class.glow]="activePaths().has('path-14')"
      />

      <path
        id="path-15"
        [attr.pathLength]="1"
        d="m376.48 64.412s104.09 73.235 182.38-62.808"
        [class.glow]="activePaths().has('path-15')"
      />

      <path
        id="top-third-vertical-1"
        [attr.pathLength]="1"
        d="m32.568 176.55s49.196-38.422 21.988-91.173"
        [class.glow]="activePaths().has('top-third-vertical-1')"
      />

      <path
        id="subskill-5"
        [attr.d]="threadFrames()['subskill-5'].d"
        [class.glow]="activePaths().has('subskill-5')"
      />
      <path
        id="subskill-4"
        [attr.d]="threadFrames()['subskill-4'].d"
        [class.glow]="activePaths().has('subskill-4')"
      />
      <path
        id="subskill-3"
        [attr.d]="threadFrames()['subskill-3'].d"
        [class.glow]="activePaths().has('subskill-3')"
      />

      <path
        id="top-fourth-vertical-1"
        [attr.pathLength]="1"
        d="m77.391 102.52s13.674 51.918-20.753 75.24"
        [class.glow]="activePaths().has('top-fourth-vertical-1')"
      />

      <path
        id="top-fifth-vertical-1"
        [attr.pathLength]="1"
        d="m100.23 119.52s16.936 31.512-18.046 59.831"
        [class.glow]="activePaths().has('top-fifth-vertical-1')"
      />

      <path
        id="top-fourth-horizontal-1"
        [attr.pathLength]="1"
        d="m77.808 102.73c69.409 15.548 85.998-37.203 85.998-37.203"
        [class.glow]="activePaths().has('top-fourth-horizontal-1')"
      />
      <path
        id="top-fourth-horizontal-2"
        [attr.pathLength]="1"
        d="m163.81 65.527s62.519 30.835 90.283 6.4025"
        [class.glow]="activePaths().has('top-fourth-horizontal-2')"
      />
      <path
        id="top-fourth-horizontal-3"
        [attr.pathLength]="1"
        d="m254.09 71.93s29.177 38.145 63.604 29.261"
        [class.glow]="activePaths().has('top-fourth-horizontal-3')"
      />

      <path
        id="top-third-horizontal-3"
        [attr.pathLength]="1"
        d="m271.57 43.833s14.956 56.672 68.817 42.79"
        [class.glow]="activePaths().has('top-third-horizontal-3')"
      />

      <path
        id="top-third-vertical-2"
        [attr.pathLength]="1"
        d="m32.436 176.64s37.529 53.794 28.089 124.87"
        [class.glow]="activePaths().has('top-third-vertical-2')"
      />

      <path
        id="top-fourth-vertical-2"
        [attr.pathLength]="1"
        d="m56.638 177.69s38.869 32.761 24.987 102.17"
        [class.glow]="activePaths().has('top-fourth-vertical-2')"
      />

      <path
        id="top-fifth-vertical-2"
        [attr.pathLength]="1"
        d="m83.222 179.01s30.054 12.563 21.725 78.641"
        [class.glow]="activePaths().has('top-fifth-vertical-2')"
      />

      <path
        id="top-third-vertical-3"
        [attr.pathLength]="1"
        d="m59.97 299.85s22.766 6.6633 13.882 44.977"
        [class.glow]="activePaths().has('top-third-vertical-3')"
      />

      <path
        id="top-fourth-vertical-3"
        [attr.pathLength]="1"
        d="m81.643 279.22s20.463 5.0659 15.466 36.717"
        [class.glow]="activePaths().has('top-fourth-vertical-3')"
      />

      <path
        id="path-29"
        [attr.pathLength]="1"
        d="m347.6 82.736s128.36 50.794 211.1-81.362"
        [class.glow]="activePaths().has('path-29')"
      />

      <path
        id="path-30"
        [attr.pathLength]="1"
        d="m317.62 101.06s170.76 39.783 241.28-100.15"
        [class.glow]="activePaths().has('path-30')"
      />

      <path
        id="path-31"
        [attr.pathLength]="1"
        d="m285.33 120.17s278.83 43.081 338.24-117.95"
        [class.glow]="activePaths().has('path-31')"
      />

      <path
        id="path-32"
        [attr.pathLength]="1"
        d="m474.4 85.301c8.638 2.3558 31.117 24.049 78.822-1.0798"
        [class.glow]="activePaths().has('path-32')"
      />

      <path
        id="path-33"
        [attr.pathLength]="1"
        d="m495.51 73.62s18.945 25.227 55.656 11.681"
        [class.glow]="activePaths().has('path-33')"
      />

      <path
        id="top-second-vertical-4"
        [attr.pathLength]="1"
        d="m33.039 396.19s23.128 0.19632 18.686 22.13"
        [class.glow]="activePaths().has('top-second-vertical-4')"
      />

      <path
        id="top-third-vertical-4"
        [attr.pathLength]="1"
        d="m73.851 343.99s8.0515 6.6633 5.8304 17.769"
        [class.glow]="activePaths().has('top-third-vertical-4')"
      />

      <path
        id="top-sixth-vertical-3"
        [attr.pathLength]="1"
        d="m114.76 248.5s-22.585 56.07-17.587 67.175"
        [class.glow]="activePaths().has('top-sixth-vertical-3')"
      />

      <path
        id="top-sixth-vertical-2"
        [attr.pathLength]="1"
        d="m107.72 180.19s26.445 44.04 7.0103 68.472"
        [class.glow]="activePaths().has('top-sixth-vertical-2')"
      />

      <path
        id="top-sixth-vertical-1"
        [attr.pathLength]="1"
        d="m107.86 180.6c23.877-17.769 16.104-43.243 16.104-43.243"
        [class.glow]="activePaths().has('top-sixth-vertical-1')"
      />
      <path
        id="top-sixth-horizontal-2"
        [attr.pathLength]="1"
        d="m123.96 137.36s32.136 2.0823 48.795-22.905"
        [class.glow]="activePaths().has('top-sixth-horizontal-2')"
      />
      <path
        id="top-sixth-horizontal-3"
        [attr.pathLength]="1"
        d="m172.76 114.45s32.692 16.866 53.515 2.4293"
        [class.glow]="activePaths().has('top-sixth-horizontal-3')"
      />
      <path
        id="top-sixth-horizontal-4"
        [attr.pathLength]="1"
        d="m226.27 116.88s17.214 22.211 42.201 15.27"
        [class.glow]="activePaths().has('top-sixth-horizontal-4')"
      />

      <path
        id="top-fifth-horizontal-1"
        [attr.pathLength]="1"
        d="m100.3 119.59s48.795 8.1209 68.229-26.028"
        [class.glow]="activePaths().has('top-fifth-horizontal-1')"
      />
      <path
        id="top-fifth-horizontal-2"
        [attr.pathLength]="1"
        d="m168.53 93.562s49.927 22.292 72.138 0.35896"
        [class.glow]="activePaths().has('top-fifth-horizontal-2')"
      />
      <path
        id="top-fifth-horizontal-3"
        [attr.pathLength]="1"
        d="m240.67 93.921s24.48 34.068 45.302 26.017"
        [class.glow]="activePaths().has('top-fifth-horizontal-3')"
      />

      <path
        id="top-seventh-vertical-1"
        [attr.pathLength]="1"
        d="m114.39 295.23s8.0486-42.854 17.766-62.844"
        [class.glow]="activePaths().has('top-seventh-vertical-1')"
      />
      <path
        id="top-seventh-vertical-2"
        [attr.pathLength]="1"
        d="m132.16 232.39s17.769-26.376-3.054-50.53"
        [class.glow]="activePaths().has('top-seventh-vertical-2')"
      />
      <path
        id="top-seventh-vertical-3"
        [attr.pathLength]="1"
        d="m129.1 181.86s17.769-13.882 13.049-30.262"
        [class.glow]="activePaths().has('top-seventh-vertical-3')"
      />
      <path
        id="top-seventh-horizontal-4"
        [attr.pathLength]="1"
        d="m142.15 151.59s23.322 1.1106 34.149-16.936"
        [class.glow]="activePaths().has('top-seventh-horizontal-4')"
      />
      <path
        id="top-seventh-horizontal-5"
        [attr.pathLength]="1"
        d="m176.3 134.66s22.766 16.381 38.314 1.9435"
        [class.glow]="activePaths().has('top-seventh-horizontal-5')"
      />
      <path
        id="top-seventh-horizontal-6"
        [attr.pathLength]="1"
        d="m214.61 136.6s9.4396 21.933 26.376 12.494"
        [class.glow]="activePaths().has('top-seventh-horizontal-6')"
      />

      <path
        id="center-top-1"
        [attr.pathLength]="1"
        d="m167.14 212.95s4.1646-6.9409-3.6093-9.162"
        [class.glow]="activePaths().has('center-top-1')"
      />
      <path
        id="center-top-2"
        [attr.pathLength]="1"
        d="m163.53 203.79s1.3882-10.828-13.049-21.1"
        [class.glow]="activePaths().has('center-top-2')"
      />
      <path
        id="center-top-3"
        [attr.pathLength]="1"
        d="m150.48 182.69s10.897-10.411 7.0103-20.129"
        [class.glow]="activePaths().has('center-top-3')"
      />
      <path
        id="center-top-4"
        [attr.pathLength]="1"
        d="m157.49 162.56s21.031 3.7481 22.697-10.134"
        [class.glow]="activePaths().has('center-top-4')"
      />
      <path
        id="center-top-5"
        [attr.pathLength]="1"
        d="m180.19 152.42s15.825 10.758 22.766 3.2622"
        [class.glow]="activePaths().has('center-top-5')"
      />
      <path
        id="center-top-6"
        [attr.pathLength]="1"
        d="m202.96 155.69s2.7764 14.437 12.771 9.162"
        [class.glow]="activePaths().has('center-top-6')"
      />

      <path
        id="center"
        [attr.pathLength]="1"
        d="m176.37 198.79s-0.48587-3.1234-3.8175-2.9846c0 0-1.527-12.841-5.1363-12.563 0 0 5.8304-6.6633 3.8869-10.55 0 0 10.828 0.83291 11.661-3.8869 0 0 6.1774 6.9409 11.036 1.3882 0 0 2.4987 5.8304 9.7173 2.2211"
        [class.glow]="activePaths().has('center')"
      />

      <path
        id="subskill-6"
        [attr.d]="threadFrames()['subskill-6'].d"
        [class.glow]="activePaths().has('subskill-6')"
      />
      <path
        id="subskill-1"
        [attr.d]="threadFrames()['subskill-1'].d"
        [class.glow]="activePaths().has('subskill-1')"
      />
      <path
        id="subskill-2"
        [attr.d]="threadFrames()['subskill-2'].d"
        [class.glow]="activePaths().has('subskill-2')"
      />

      <path
        id="top-first-horizontal-2"
        [attr.pathLength]="1"
        d="m148.33-14.6s91.692 39.795 151.11 13.142"
        [class.glow]="activePaths().has('top-first-horizontal-2')"
      />

      <path
        id="top-left-1"
        [attr.pathLength]="1"
        d="m-15.548 33.039 16.069 12.03"
        [class.glow]="activePaths().has('top-left-1')"
      />
      <path
        id="top-left-2"
        [attr.pathLength]="1"
        d="m0.5214 45.069 38.53 28.844"
        [class.glow]="activePaths().has('top-left-2')"
      />
      <path
        id="top-left-3"
        [attr.pathLength]="1"
        d="m39.051 73.913 15.032 11.253"
        [class.glow]="activePaths().has('top-left-3')"
      />
      <path
        id="top-left-4"
        [attr.pathLength]="1"
        d="m54.083 85.166 23.02 17.233"
        [class.glow]="activePaths().has('top-left-4')"
      />
      <path
        id="top-left-5"
        [attr.pathLength]="1"
        d="m77.103 102.4 22.613 16.928"
        [class.glow]="activePaths().has('top-left-5')"
      />
      <path
        id="top-left-6"
        [attr.pathLength]="1"
        d="m99.716 119.33 23.854 17.858"
        [class.glow]="activePaths().has('top-left-6')"
      />
      <path
        id="top-left-7"
        [attr.pathLength]="1"
        d="m123.57 137.18 18.937 14.176"
        [class.glow]="activePaths().has('top-left-7')"
      />
      <path
        id="top-left-8"
        [attr.pathLength]="1"
        d="m142.51 151.36 14.557 10.898"
        [class.glow]="activePaths().has('top-left-8')"
      />
      <path
        id="top-left-9"
        [attr.pathLength]="1"
        d="m157.06 162.26 13.561 10.152"
        [class.glow]="activePaths().has('top-left-9')"
      />
      <path
        id="top-left-10"
        [attr.pathLength]="1"
        d="m170.63 172.41 15.947 11.938"
        [class.glow]="activePaths().has('top-left-10')"
      />

      <path
        id="top-first-horizontal-1"
        [attr.pathLength]="1"
        d="m0.55527 45.532s110.22-4.9975 147.43-59.97"
        [class.glow]="activePaths().has('top-first-horizontal-1')"
      />

      <path
        id="top-right-1"
        [attr.pathLength]="1"
        d="m186.02 184.35 8.7389-14.382"
        [class.glow]="activePaths().has('top-right-1')"
      />
      <path
        id="top-right-2"
        [attr.pathLength]="1"
        d="m194.76 169.97 8.7005-14.319"
        [class.glow]="activePaths().has('top-right-2')"
      />
      <path
        id="top-right-3"
        [attr.pathLength]="1"
        d="m203.46 155.65 11.503-18.931"
        [class.glow]="activePaths().has('top-right-3')"
      />
      <path
        id="top-right-4"
        [attr.pathLength]="1"
        d="m214.96 136.72 11.844-19.492"
        [class.glow]="activePaths().has('top-right-4')"
      />
      <path
        id="top-right-5"
        [attr.pathLength]="1"
        d="m226.81 117.23 14.08-23.173"
        [class.glow]="activePaths().has('top-right-5')"
      />
      <path
        id="top-right-6"
        [attr.pathLength]="1"
        d="m240.89 94.052 13.257-21.817"
        [class.glow]="activePaths().has('top-right-6')"
      />
      <path
        id="top-right-7"
        [attr.pathLength]="1"
        d="m254.14 72.235 17.088-28.122"
        [class.glow]="activePaths().has('top-right-7')"
      />
      <path
        id="top-right-8"
        [attr.pathLength]="1"
        d="m271.23 44.113 13.887-22.855"
        [class.glow]="activePaths().has('top-right-8')"
      />
      <path
        id="top-right-9"
        [attr.pathLength]="1"
        d="m285.12 21.258 13.745-22.621"
        [class.glow]="activePaths().has('top-right-9')"
      />
      <path
        id="top-right-10"
        [attr.pathLength]="1"
        d="m298.86-1.3627 20.427-33.617"
        [class.glow]="activePaths().has('top-right-10')"
      />

      <path
        id="right-1"
        [attr.pathLength]="1"
        d="m184.91 183.8 18.118-11.35"
        [class.glow]="activePaths().has('right-14')"
      />
      <path
        id="right-2"
        [attr.pathLength]="1"
        d="m203.03 172.45 11.324-7.0942"
        [class.glow]="activePaths().has('right-13')"
      />
      <path
        id="right-3"
        [attr.pathLength]="1"
        d="m214.35 165.36 27.898-17.477"
        [class.glow]="activePaths().has('right-12')"
      />
      <path
        id="right-4"
        [attr.pathLength]="1"
        d="m242.25 147.88 25.293-15.845"
        [class.glow]="activePaths().has('right-11')"
      />
      <path
        id="right-5"
        [attr.pathLength]="1"
        d="m267.54 132.03 17.547-10.992"
        [class.glow]="activePaths().has('right-10')"
      />
      <path
        id="right-6"
        [attr.pathLength]="1"
        d="m285.09 121.04 31.865-19.962"
        [class.glow]="activePaths().has('right-9')"
      />
      <path
        id="right-7"
        [attr.pathLength]="1"
        d="m316.96 101.08 22.648-14.188"
        [class.glow]="activePaths().has('right-8')"
      />
      <path
        id="right-8"
        [attr.pathLength]="1"
        d="m339.6 86.891 7.9079-4.954"
        [class.glow]="activePaths().has('right-7')"
      />
      <path
        id="right-9"
        [attr.pathLength]="1"
        d="m347.51 81.937 23.536-14.744"
        [class.glow]="activePaths().has('right-6')"
      />
      <path
        id="right-10"
        [attr.pathLength]="1"
        d="m371.05 67.193 5.3931-3.3785"
        [class.glow]="activePaths().has('right-5')"
      />
      <path
        id="right-11"
        [attr.pathLength]="1"
        d="m376.44 63.815 31.049-19.451"
        [class.glow]="activePaths().has('right-4')"
      />
      <path
        id="right-12"
        [attr.pathLength]="1"
        d="m407.49 44.364 43.15-27.032"
        [class.glow]="activePaths().has('right-3')"
      />
      <path
        id="right-13"
        [attr.pathLength]="1"
        d="m450.64 17.333 30.264-18.959"
        [class.glow]="activePaths().has('right-2')"
      />
      <path
        id="right-14"
        [attr.pathLength]="1"
        d="m480.9-1.6268 35.506-22.243"
        [class.glow]="activePaths().has('right-1')"
      />

      @for (skill of skills(); track $index) {
        <g
          [attr.transform]="
            'translate(' + nodePosition(skill).x + ',' + nodePosition(skill).y + ')'
          "
        >
          @if (skill.isMainSkill) {
            <g (mouseenter)="onHover(skill)" (mouseleave)="onLeave()" class="node-interactive">
              @if (skill.imgSrc) {
                <image
                  [class]="'logo-icons'"
                  [attr.href]="skill.imgSrc"
                  clip-path="url(#clip-main)"
                  x="-16"
                  y="-16"
                  width="32"
                  height="32"
                  preserveAspectRatio="xMidYMid slice"
                />
              } @else {
                <circle r="12" class="main-node-circle" />
              }
            </g>
          } @else {
            <g (mouseenter)="onHover(skill)" (mouseleave)="onLeave()" class="node-interactive">
              @if (skill.imgSrc) {
                <image
                  class="logo-icons"
                  [attr.href]="skill.imgSrc"
                  clip-path="url(#clip-sub)"
                  x="-12"
                  y="-12"
                  width="24"
                  height="24"
                  preserveAspectRatio="xMidYMid slice"
                />
              } @else {
                <circle r="6" class="sub-node-circle" />
              }
            </g>
          }
        </g>
      }
    </g>
  </svg>

  @if (hoveredSkill()) {
    <div class="info-box">
      <h3>{{ hoveredSkill()?.name }}</h3>
      <p>{{ hoveredSkill()?.description }}</p>
    </div>
  }
</div>
