<div class="web-container">
  <svg viewBox="0 0 640.97 666.17" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <clipPath id="clip-main">
        <circle r="16" />
      </clipPath>
      <clipPath id="clip-sub">
        <circle r="12" />
      </clipPath>
    </defs>

    <g transform="translate(16.768 36.437)" class="web-group">
      <path
        id="path-0"
        [attr.pathLength]="1"
        d="m185.25 183.45-38.661-207.88"
        [class.glow]="activePaths().has('path-0')"
      />
      <path
        id="path-1"
        [attr.pathLength]="1"
        d="m152.84 8.8844s73.504 46.851 132.36 12.424"
        [class.glow]="activePaths().has('path-1')"
      />
      <path
        id="path-2"
        [attr.pathLength]="1"
        d="m39.424 74.407c4.4422 83.846-38.869 100.5-38.869 100.5s72.222 57.645 22.248 161.48"
        [class.glow]="activePaths().has('path-2')"
      />
      <path
        id="path-3"
        [attr.pathLength]="1"
        d="m-13.882 375.92c38.869-48.864 199.34-191.57 199.34-191.57l-199.76-10.134"
        [class.glow]="activePaths().has('path-3')"
      />
      <path
        id="path-4"
        [attr.pathLength]="1"
        d="m23.162 336.55s20.427 17.294 10.432 59.494"
        [class.glow]="activePaths().has('path-4')"
      />
      <path
        id="path-5"
        [attr.pathLength]="1"
        d="m121.92 286.5s-110.26 127.18-131.36 175.49"
        [class.glow]="activePaths().has('path-5')"
      />
      <path
        id="path-6"
        [attr.pathLength]="1"
        d="m186.85 183.03s-190.18 276.73-202.95 446.65"
        [class.glow]="activePaths().has('path-6')"
      />
      <path
        id="path-7"
        [attr.pathLength]="1"
        d="m0.97173 45.949s81.417 32.414 151.94-36.44"
        [class.glow]="activePaths().has('path-7')"
      />
      <path
        id="path-8"
        [attr.pathLength]="1"
        d="m39.424 74.962s93.008 9.9255 113.55-65.592"
        [class.glow]="activePaths().has('path-8')"
      />
      <path
        id="path-9"
        [attr.pathLength]="1"
        d="m157.42 33.525s55.09 47.021 113.95 10.373"
        [class.glow]="activePaths().has('path-9')"
      />
      <path
        id="path-10"
        [attr.pathLength]="1"
        d="m54.764 85.512s84.402 24.571 102.73-52.612"
        [class.glow]="activePaths().has('path-10')"
      />
      <path
        id="path-11"
        [attr.pathLength]="1"
        d="m298.95-1.1105s35.464 68.921 108.76 45.045"
        [class.glow]="activePaths().has('path-11')"
      />
      <path
        id="path-12"
        [attr.pathLength]="1"
        d="m285.06 21.447s15.766 62.761 86.841 45.547"
        [class.glow]="activePaths().has('path-12')"
      />
      <path
        id="path-13"
        [attr.pathLength]="1"
        d="m480.94-1.8593s38.799 30.178 73.226 10.744"
        [class.glow]="activePaths().has('path-13')"
      />
      <path
        id="path-14"
        [attr.pathLength]="1"
        d="m450.16 17.278s46.253 22.146 104-7.8383"
        [class.glow]="activePaths().has('path-14')"
      />
      <path
        id="path-15"
        [attr.pathLength]="1"
        d="m376.48 64.412s104.09 73.235 182.38-62.808"
        [class.glow]="activePaths().has('path-15')"
      />
      <path
        id="path-16"
        [attr.pathLength]="1"
        d="m32.568 176.55s49.196-38.422 21.988-91.173"
        [class.glow]="activePaths().has('path-16')"
      />

      <path
        id="path-17"
        [attr.d]="threadFrames()['path-17'].d"
        [class.glow]="activePaths().has('path-17')"
        [class.wobble-p17]="activePaths().has('path-17')"
      />
      <path
        id="path-18"
        [attr.d]="threadFrames()['path-18'].d"
        [class.glow]="activePaths().has('path-18')"
        [class.wobble-p18]="activePaths().has('path-18')"
      />
      <path
        id="path-19"
        [attr.d]="threadFrames()['path-19'].d"
        [class.glow]="activePaths().has('path-19')"
        [class.wobble-p19]="activePaths().has('path-19')"
      />

      <path
        id="path-20"
        [attr.pathLength]="1"
        d="m77.391 102.52s13.674 51.918-20.753 75.24"
        [class.glow]="activePaths().has('path-20')"
      />
      <path
        id="path-21"
        [attr.pathLength]="1"
        d="m100.23 119.52s16.936 31.512-18.046 59.831"
        [class.glow]="activePaths().has('path-21')"
      />
      <path
        id="path-22"
        [attr.pathLength]="1"
        d="m77.808 102.73c69.409 15.548 85.998-37.203 85.998-37.203s62.519 30.835 90.283 6.4025c0 0 29.177 38.145 63.604 29.261"
        [class.glow]="activePaths().has('path-22')"
      />
      <path
        id="path-23"
        [attr.pathLength]="1"
        d="m271.57 43.833s14.956 56.672 68.817 42.79"
        [class.glow]="activePaths().has('path-23')"
      />
      <path
        id="path-24"
        [attr.pathLength]="1"
        d="m32.436 176.64s37.529 53.794 28.089 124.87"
        [class.glow]="activePaths().has('path-24')"
      />
      <path
        id="path-25"
        [attr.pathLength]="1"
        d="m56.638 177.69s38.869 32.761 24.987 102.17"
        [class.glow]="activePaths().has('path-25')"
      />
      <path
        id="path-26"
        [attr.pathLength]="1"
        d="m83.222 179.01s30.054 12.563 21.725 78.641"
        [class.glow]="activePaths().has('path-26')"
      />
      <path
        id="path-27"
        [attr.pathLength]="1"
        d="m59.97 299.85s22.766 6.6633 13.882 44.977"
        [class.glow]="activePaths().has('path-27')"
      />
      <path
        id="path-28"
        [attr.pathLength]="1"
        d="m81.643 279.22s20.463 5.0659 15.466 36.717"
        [class.glow]="activePaths().has('path-28')"
      />
      <path
        id="path-29"
        [attr.pathLength]="1"
        d="m347.6 82.736s128.36 50.794 211.1-81.362"
        [class.glow]="activePaths().has('path-29')"
      />
      <path
        id="path-30"
        [attr.pathLength]="1"
        d="m317.62 101.06s170.76 39.783 241.28-100.15"
        [class.glow]="activePaths().has('path-30')"
      />
      <path
        id="path-31"
        [attr.pathLength]="1"
        d="m285.33 120.17s278.83 43.081 338.24-117.95"
        [class.glow]="activePaths().has('path-31')"
      />
      <path
        id="path-32"
        [attr.pathLength]="1"
        d="m474.4 85.301c8.638 2.3558 31.117 24.049 78.822-1.0798"
        [class.glow]="activePaths().has('path-32')"
      />
      <path
        id="path-33"
        [attr.pathLength]="1"
        d="m495.51 73.62s18.945 25.227 55.656 11.681"
        [class.glow]="activePaths().has('path-33')"
      />
      <path
        id="path-34"
        [attr.pathLength]="1"
        d="m33.039 396.19s23.128 0.19632 18.686 22.13"
        [class.glow]="activePaths().has('path-34')"
      />
      <path
        id="path-35"
        [attr.pathLength]="1"
        d="m73.851 343.99s8.0515 6.6633 5.8304 17.769"
        [class.glow]="activePaths().has('path-35')"
      />
      <path
        id="path-36"
        [attr.pathLength]="1"
        d="m114.76 248.5s-22.585 56.07-17.587 67.175"
        [class.glow]="activePaths().has('path-36')"
      />
      <path
        id="path-37"
        [attr.pathLength]="1"
        d="m107.72 180.19s26.445 44.04 7.0103 68.472"
        [class.glow]="activePaths().has('path-37')"
      />
      <path
        id="path-38"
        [attr.pathLength]="1"
        d="m107.86 180.6c23.877-17.769 16.104-43.243 16.104-43.243s32.136 2.0823 48.795-22.905c0 0 32.692 16.866 53.515 2.4293 0 0 17.214 22.211 42.201 15.27"
        [class.glow]="activePaths().has('path-38')"
      />
      <path
        id="path-39"
        [attr.pathLength]="1"
        d="m100.3 119.59s48.795 8.1209 68.229-26.028c0 0 49.927 22.292 72.138 0.35896 0 0 24.48 34.068 45.302 26.017"
        [class.glow]="activePaths().has('path-39')"
      />
      <path
        id="path-40"
        [attr.pathLength]="1"
        d="m114.39 295.23s8.0486-42.854 17.766-62.844c0 0 17.769-26.376-3.054-50.53 0 0 17.769-13.882 13.049-30.262 0 0 23.322 1.1106 34.149-16.936 0 0 22.766 16.381 38.314 1.9435 0 0 9.4396 21.933 26.376 12.494"
        [class.glow]="activePaths().has('path-40')"
      />
      <path
        id="path-41"
        [attr.pathLength]="1"
        d="m167.14 212.95s4.1646-6.9409-3.6093-9.162c0 0 1.3882-10.828-13.049-21.1 0 0 10.897-10.411 7.0103-20.129 0 0 21.031 3.7481 22.697-10.134 0 0 15.825 10.758 22.766 3.2622 0 0 2.7764 14.437 12.771 9.162"
        [class.glow]="activePaths().has('path-41')"
      />
      <path
        id="path-42"
        [attr.pathLength]="1"
        d="m176.37 198.79s-0.48587-3.1234-3.8175-2.9846c0 0-1.527-12.841-5.1363-12.563 0 0 5.8304-6.6633 3.8869-10.55 0 0 10.828 0.83291 11.661-3.8869 0 0 6.1774 6.9409 11.036 1.3882 0 0 2.4987 5.8304 9.7173 2.2211"
        [class.glow]="activePaths().has('path-42')"
      />

      <path
        id="path-43"
        [attr.d]="threadFrames()['path-43'].d"
        [class.glow]="activePaths().has('path-43')"
        [class.wobble-p43]="activePaths().has('path-43')"
      />
      <path
        id="path-44"
        [attr.d]="threadFrames()['path-44'].d"
        [class.glow]="activePaths().has('path-44')"
        [class.wobble-p44]="activePaths().has('path-44')"
      />
      <path
        id="path-45"
        [attr.d]="threadFrames()['path-45'].d"
        [class.glow]="activePaths().has('path-45')"
        [class.wobble-p45]="activePaths().has('path-45')"
      />

      <path
        id="path-46"
        [attr.pathLength]="1"
        d="m148.33-14.6s91.692 39.795 151.11 13.142"
        [class.glow]="activePaths().has('path-46')"
      />
      <path
        id="path-47"
        [attr.pathLength]="1"
        d="m-15.548 33.039 202.12 151.31"
        [class.glow]="activePaths().has('path-47')"
      />
      <path
        id="path-48"
        [attr.pathLength]="1"
        d="m0.55527 45.532s110.22-4.9975 147.43-59.97"
        [class.glow]="activePaths().has('path-48')"
      />
      <path
        id="path-49"
        [attr.pathLength]="1"
        d="m186.02 184.35 133.27-219.33"
        [class.glow]="activePaths().has('path-49')"
      />
      <path
        id="path-50"
        [attr.pathLength]="1"
        d="m184.91 183.8 331.5-207.67"
        [class.glow]="activePaths().has('path-50')"
      />

      @for (skill of skills(); track $index) {
        <g
          [attr.transform]="
            'translate(' + nodePosition(skill).x + ',' + nodePosition(skill).y + ')'
          "
        >
          @if (skill.isMainSkill) {
            <g (mouseenter)="onHover(skill)" (mouseleave)="onLeave()" class="node-interactive">
              @if (skill.imgSrc) {
                <image
                  [attr.href]="skill.imgSrc"
                  clip-path="url(#clip-main)"
                  x="-16"
                  y="-16"
                  width="32"
                  height="32"
                  preserveAspectRatio="xMidYMid slice"
                />
              } @else {
                <circle r="12" class="main-node-circle" />
              }
            </g>
          } @else {
            <g (mouseenter)="onHover(skill)" (mouseleave)="onLeave()" class="node-interactive">
              @if (skill.imgSrc) {
                <image
                  [attr.href]="skill.imgSrc"
                  clip-path="url(#clip-sub)"
                  x="-12"
                  y="-12"
                  width="24"
                  height="24"
                  preserveAspectRatio="xMidYMid slice"
                />
              } @else {
                <circle r="6" class="sub-node-circle" />
              }
            </g>
          }
        </g>
      }
    </g>
  </svg>

  @if (hoveredSkill()) {
    <div class="info-box">
      <h3>{{ hoveredSkill()?.name }}</h3>
      <p>{{ hoveredSkill()?.description }}</p>
    </div>
  }
</div>
