<div class="web-container">
  <svg viewBox="0 0 640.97 666.17" xmlns="http://www.w3.org/2000/svg">
    <g transform="translate(16.768 36.437)" class="web-group">
      <path
        id="top-middle-1"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-middle-1'].d"
      />
      <path
        id="top-middle-2"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-middle-2'].d"
      />
      <path
        id="top-middle-3"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-middle-3'].d"
      />
      <path
        id="top-middle-4"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-middle-4'].d"
      />
      <path
        id="top-middle-5"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-middle-5'].d"
      />
      <path
        id="top-middle-6"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-middle-6'].d"
      />
      <path
        id="top-middle-7"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-middle-7'].d"
      />
      <path
        id="top-middle-8"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-middle-8'].d"
      />
      <path
        id="top-middle-9"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-middle-9'].d"
      />
      <path
        id="top-middle-10"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-middle-10'].d"
      />

      <path
        id="top-second-horizontal-2"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-second-horizontal-2'].d"
      />

      <path
        id="top-second-vertical-1"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-second-vertical-1'].d"
      />
      <path
        id="top-second-vertical-2"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-second-vertical-2'].d"
      />

      <path
        id="bottom-left-third-1"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['bottom-left-third-1'].d"
      />
      <path
        id="bottom-left-third-2"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['bottom-left-third-2'].d"
      />
      <path
        id="bottom-left-third-3"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['bottom-left-third-3'].d"
      />
      <path
        id="bottom-left-third-4"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['bottom-left-third-4'].d"
      />
      <path
        id="bottom-left-third-5"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['bottom-left-third-5'].d"
      />
      <path
        id="bottom-left-third-6"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['bottom-left-third-6'].d"
      />
      <path
        id="bottom-left-third-7"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['bottom-left-third-7'].d"
      />
      <path
        id="bottom-left-third-8"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['bottom-left-third-8'].d"
      />
      <path
        id="bottom-left-third-9"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['bottom-left-third-9'].d"
      />
      <path
        id="bottom-left-middle-9"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['bottom-left-middle-9'].d"
      />
      <path
        id="bottom-left-middle-8"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['bottom-left-middle-8'].d"
      />
      <path
        id="bottom-left-middle-7"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['bottom-left-middle-7'].d"
      />
      <path
        id="bottom-left-middle-6"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['bottom-left-middle-6'].d"
      />
      <path
        id="bottom-left-middle-5"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['bottom-left-middle-5'].d"
      />
      <path
        id="bottom-left-middle-4"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['bottom-left-middle-4'].d"
      />
      <path
        id="bottom-left-middle-3"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['bottom-left-middle-3'].d"
      />
      <path
        id="bottom-left-middle-2"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['bottom-left-middle-2'].d"
      />
      <path
        id="bottom-left-middle-1"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['bottom-left-middle-1'].d"
      />

      <path
        id="top-second-vertical-3"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-second-vertical-3'].d"
      />

      <path
        id="bottom-left-second-1"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['bottom-left-second-1'].d"
      />
      <path
        id="bottom-left-second-2"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['bottom-left-second-2'].d"
      />
      <path
        id="bottom-left-second-3"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['bottom-left-second-3'].d"
      />
      <path
        id="bottom-left-second-4"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['bottom-left-second-4'].d"
      />
      <path
        id="bottom-left-second-5"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['bottom-left-second-5'].d"
      />

      <path
        id="bottom-left-1"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['bottom-left-1'].d"
      />
      <path
        id="bottom-left-2"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['bottom-left-2'].d"
      />
      <path
        id="bottom-left-3"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['bottom-left-3'].d"
      />
      <path
        id="bottom-left-4"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['bottom-left-4'].d"
      />
      <path
        id="bottom-left-5"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['bottom-left-5'].d"
      />
      <path
        id="bottom-left-6"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['bottom-left-6'].d"
      />

      <path
        id="top-second-horizontal-1"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-second-horizontal-1'].d"
      />

      <path
        id="top-second-horizontal-1-b"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-second-horizontal-1-b'].d"
      />

      <path
        id="top-third-horizontal-2"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-third-horizontal-2'].d"
      />

      <path
        id="top-third-horizontal-1"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-third-horizontal-1'].d"
      />

      <path
        id="top-first-horizontal-3"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-first-horizontal-3'].d"
      />

      <path
        id="top-second-horizontal-3"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-second-horizontal-3'].d"
      />

      <path
        id="path-13"
        [attr.pathLength]="1"
        d="m480.94-1.8593s38.799 30.178 73.226 10.744"
      />

      <path
        id="path-14"
        [attr.pathLength]="1"
        d="m450.16 17.278s46.253 22.146 104-7.8383"
      />

      <path
        id="path-15"
        [attr.pathLength]="1"
        d="m376.48 64.412s104.09 73.235 182.38-62.808"
      />

      <path
        id="top-third-vertical-1"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-third-vertical-1'].d"
      />

      <path
        id="subskill-5"
        [attr.d]="threadFrames()['subskill-5'].d"
      />
      <path
        id="subskill-4"
        [attr.d]="threadFrames()['subskill-4'].d"
      />
      <path
        id="subskill-3"
        [attr.d]="threadFrames()['subskill-3'].d"
      />

      <path
        id="top-fourth-vertical-1"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-fourth-vertical-1'].d"
      />

      <path
        id="top-fifth-vertical-1"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-fifth-vertical-1'].d"
      />

      <path
        id="top-fourth-horizontal-1"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-fourth-horizontal-1'].d"
      />
      <path
        id="top-fourth-horizontal-2"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-fourth-horizontal-2'].d"
      />
      <path
        id="top-fourth-horizontal-3"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-fourth-horizontal-3'].d"
      />

      <path
        id="top-third-horizontal-3"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-third-horizontal-3'].d"
      />

      <path
        id="top-third-vertical-2"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-third-vertical-2'].d"
      />

      <path
        id="top-fourth-vertical-2"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-fourth-vertical-2'].d"
      />

      <path
        id="top-fifth-vertical-2"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-fifth-vertical-2'].d"
      />

      <path
        id="top-third-vertical-3"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-third-vertical-3'].d"
      />

      <path
        id="top-fourth-vertical-3"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-fourth-vertical-3'].d"
      />

      <path
        id="path-29"
        [attr.pathLength]="1"
        d="m347.6 82.736s128.36 50.794 236.2-121.36"
      />

      <path
        id="path-30"
        [attr.pathLength]="1"
        d="m317.62 101.06s170.76 39.783 266.28-140.15"
      />

      <path
        id="path-31"
        [attr.pathLength]="1"
        d="m285.33 120.17s278.83 43.081 338.24-117.95"
      />

      <path
        id="path-32"
        [attr.pathLength]="1"
        d="m474.4 85.301c8.638 2.3558 31.117 24.049 78.822-1.0798"
      />

      <path
        id="path-33"
        [attr.pathLength]="1"
        d="m495.51 73.62s18.945 25.227 55.656 11.681"
      />

      <path
        id="top-second-vertical-4"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-second-vertical-4'].d"
      />

      <path
        id="top-third-vertical-4"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-third-vertical-4'].d"
      />

      <path
        id="top-sixth-vertical-3"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-sixth-vertical-3'].d"
      />

      <path
        id="top-sixth-vertical-2"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-sixth-vertical-2'].d"
      />

      <path
        id="top-sixth-vertical-1"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-sixth-vertical-1'].d"
      />
      <path
        id="top-sixth-horizontal-2"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-sixth-horizontal-2'].d"
      />
      <path
        id="top-sixth-horizontal-3"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-sixth-horizontal-3'].d"
      />
      <path
        id="top-sixth-horizontal-4"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-sixth-horizontal-4'].d"
      />

      <path
        id="top-fifth-horizontal-1"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-fifth-horizontal-1'].d"
      />
      <path
        id="top-fifth-horizontal-2"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-fifth-horizontal-2'].d"
      />
      <path
        id="top-fifth-horizontal-3"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-fifth-horizontal-3'].d"
      />

      <path
        id="top-seventh-vertical-1"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-seventh-vertical-1'].d"
      />
      <path
        id="top-seventh-vertical-2"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-seventh-vertical-2'].d"
      />
      <path
        id="top-seventh-vertical-3"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-seventh-vertical-3'].d"
      />
      <path
        id="top-seventh-horizontal-4"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-seventh-horizontal-4'].d"
      />
      <path
        id="top-seventh-horizontal-5"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-seventh-horizontal-5'].d"
      />
      <path
        id="top-seventh-horizontal-6"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-seventh-horizontal-6'].d"
      />

      <path
        id="center-top-1"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['center-top-1'].d"
      />
      <path
        id="center-top-2"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['center-top-2'].d"
      />
      <path
        id="center-top-3"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['center-top-3'].d"
      />
      <path
        id="center-top-4"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['center-top-4'].d"
      />
      <path
        id="center-top-5"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['center-top-5'].d"
      />
      <path
        id="center-top-6"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['center-top-6'].d"
      />

      <path
        id="center"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['center'].d"
      />

      <path
        id="subskill-6"
        [attr.d]="threadFrames()['subskill-6'].d"
      />
      <path
        id="subskill-1"
        [attr.d]="threadFrames()['subskill-1'].d"
      />
      <path
        id="subskill-2"
        [attr.d]="threadFrames()['subskill-2'].d"
      />

      <path
        id="top-first-horizontal-2"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-first-horizontal-2'].d"
      />

      <path
        id="top-left-1"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-left-1'].d"
      />
      <path
        id="top-left-2"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-left-2'].d"
      />
      <path
        id="top-left-3"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-left-3'].d"
      />
      <path
        id="top-left-4"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-left-4'].d"
      />
      <path
        id="top-left-5"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-left-5'].d"
      />
      <path
        id="top-left-6"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-left-6'].d"
      />
      <path
        id="top-left-7"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-left-7'].d"
      />
      <path
        id="top-left-8"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-left-8'].d"
      />
      <path
        id="top-left-9"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-left-9'].d"
      />
      <path
        id="top-left-10"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-left-10'].d"
      />

      <path
        id="top-first-horizontal-1"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-first-horizontal-1'].d"
      />

      <path
        id="top-right-1"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-right-1'].d"
      />
      <path
        id="top-right-2"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-right-2'].d"
      />
      <path
        id="top-right-3"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-right-3'].d"
      />
      <path
        id="top-right-4"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-right-4'].d"
      />
      <path
        id="top-right-5"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-right-5'].d"
      />
      <path
        id="top-right-6"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-right-6'].d"
      />
      <path
        id="top-right-7"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-right-7'].d"
      />
      <path
        id="top-right-8"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-right-8'].d"
      />
      <path
        id="top-right-9"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-right-9'].d"
      />
      <path
        id="top-right-10"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['top-right-10'].d"
      />

      <path
        id="right-14"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['right-14'].d"
      />
      <path
        id="right-13"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['right-13'].d"
      />
      <path
        id="right-12"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['right-12'].d"
      />
      <path
        id="right-11"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['right-11'].d"
      />
      <path
        id="right-10"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['right-10'].d"
      />
      <path
        id="right-9"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['right-9'].d"
      />
      <path
        id="right-8"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['right-8'].d"
      />
      <path
        id="right-7"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['right-7'].d"
      />
      <path
        id="right-6"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['right-6'].d"
      />
      <path
        id="right-5"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['right-5'].d"
      />
      <path
        id="right-4"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['right-4'].d"
      />
      <path
        id="right-3"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['right-3'].d"
      />
      <path
        id="right-2"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['right-2'].d"
      />
      <path
        id="right-1"
        [attr.pathLength]="1"
        [attr.d]="chainFrames()['right-1'].d"
      />

      @for (segment of glowOverlay(); track segment.id) {
        <path
          class="glow-line"
          [attr.pathLength]="1"
          [attr.d]="frameD(segment.id)"
          [ngStyle]="glowVars(segment)"
        />
      }

      @for (skill of skills(); track $index) {
        <g
          [attr.transform]="
            'translate(' + nodePosition(skill).x + ',' + nodePosition(skill).y + ')'
          "
        >
          @if (skill.isMainSkill) {
            <g
              (mouseenter)="onHover(skill)"
              (mouseleave)="onLeave()"
              (click)="onSelect(skill)"
              (keydown.enter)="onSelect(skill)"
              (keydown.space)="onSelect(skill)"
              role="button"
              tabindex="0"
              [attr.aria-pressed]="selectedSkill() === skill"
              class="node-interactive"
            >
              <image
                class="logo-icons"
                [attr.href]="skill.imgSrc"
                [attr.aria-label]="skill.imgAlt"
                x="-16"
                y="-16"
                width="32"
                height="32"
                preserveAspectRatio="xMidYMid meet"
              />
            </g>
          } @else {
            <g (mouseenter)="onHover(skill)" (mouseleave)="onLeave()" class="node-interactive">
              <image
                class="logo-icons"
                [attr.href]="skill.imgSrc"
                [attr.aria-label]="skill.imgAlt"
                x="-12"
                y="-12"
                width="24"
                height="24"
                preserveAspectRatio="xMidYMid meet"
              />
            </g>
          }
        </g>
      }

      @for (reveal of subReveal(); track reveal.skill.connectedPathIds) {
        <g
          [attr.transform]="
            'translate(' + nodePosition(reveal.skill).x + ',' + nodePosition(reveal.skill).y + ')'
          "
        >
          <image
            class="logo-icons sub-reveal"
            [ngStyle]="{ '--reveal-delay': reveal.delay + 's' }"
            [attr.href]="reveal.skill.imgSrc"
            [attr.aria-label]="reveal.skill.imgAlt"
            x="-12"
            y="-12"
            width="24"
            height="24"
            preserveAspectRatio="xMidYMid meet"
          />
        </g>
      }
    </g>
  </svg>

  @if (selectedSkill()) {
    <div class="info-box">
      <h3>{{ selectedSkill()?.name }}</h3>
      <div [innerHTML]="selectedSkill()?.description"></div>
    </div>
  }
</div>
