@font-face {
  font-display: swap;
  font-family: "Signika Negative";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/signika-negative-v21-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Berkshire Swash";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/berkshire-swash-v20-latin-regular.woff2") format("woff2");
}