@use 'variables' as *;
@use 'mixins' as *;
@use 'breakpoints' as *;

@mixin typography-xxs {
  font-size: $fontsize-xxs;
  line-height: $lineheight-xxs;
}

@mixin typography-xs {
  font-size: $fontsize-xxs;
  line-height: $lineheight-xxs;
  @include small-desktop {
    font-size: $fontsize-xs;
    line-height: $lineheight-xs;
  }
}

@mixin typography-s {
  font-size: $fontsize-xs;
  line-height: $lineheight-xs;
  @include small-desktop {
    font-size: $fontsize-s;
    line-height: $lineheight-s;
  }
}

@mixin typography-m {
  font-size: $fontsize-s;
  line-height: $lineheight-s;
  @include small-desktop {
    font-size: $fontsize-m;
    line-height: $lineheight-m;
  }
}

@mixin typography-l {
  font-size: $fontsize-m;
  line-height: $lineheight-m;
  @include small-desktop {
    font-size: $fontsize-l;
    line-height: $lineheight-l;
  }
}

@mixin typography-xl {
  font-size: $fontsize-l;
  line-height: $lineheight-l;
  @include small-desktop {
    font-size: $fontsize-xl;
    line-height: $lineheight-xl;
  }
}

@mixin typography-xxl {
  font-size: $fontsize-xl;
  line-height: $lineheight-xl;
  @include small-desktop {
    font-size: $fontsize-xxl;
    line-height: $lineheight-xxl;
  }
}
