@use './app/shared/index.scss' as *;

body,
html {
  font-family: 'Signika Negative', sans-serif;
  background-color: $background-grey;
  color: #fff;
  padding: 0;
  margin: 0;
}

// resets

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
}

// Typography Standards

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:
    'Berkshire Swash', 'Brush Script MT', 'Lucida Handwriting', 'Segoe Print', cursive, serif;
}

h1 {
  @include typography-xxl;
  margin: 0;
}

h2 {
  @include typography-xl;
  margin: 0;
}

h3 {
  @include typography-l;
  margin: 0;
}

h4 {
  @include typography-m;
  margin: 0;
}

h5 {
  @include typography-s;
  margin: 0;
}

h6,
p,
span {
  @include typography-xs;
  margin: 0;
}
