@if (renderAsSections()) {
  @for (
    sectionGroup of pageStructure().groups;
    track $index;
    let groupIndex = $index
  ) {
    <section
      [id]="sectionGroup.configuration?.section_id || ''"
      class="section bg-{{ pageStructure().colors[groupIndex] || 'primary' }}"
    >
      <div class="container">
        @for (cmsItem of sectionGroup.items; track $index) {
          <ng-container
            [lpdDynamicRender]="cmsItem"
            [sectionColor]="pageStructure().colors[groupIndex]"
          ></ng-container>
        }
      </div>
    </section>
  }
} @else {
  @for (cmsItem of content(); track $index) {
    <ng-container [lpdDynamicRender]="cmsItem"></ng-container>
  }
}
