@if (item()?.isInternal) {
  <a class="link" [routerLink]="item()?.href" [fragment]="item()?.fragment" [target]="'_self'">
    {{ item()?.label }}

    @if (item()?.icon?.name) {
      <lpd-icon
        [iconName]="item()?.icon?.name"
        [iconPrefix]="item()?.icon?.prefix || 'fas'"
      ></lpd-icon>
    }
  </a>
} @else if (item()?.isExternal) {
  <a class="link" [attr.href]="item()?.href" [target]="'_blank'">
    {{ item()?.label }}

    @if (item()?.icon?.name) {
      <lpd-icon
        [iconName]="item()?.icon?.name"
        [iconPrefix]="item()?.icon?.prefix || 'fas'"
      ></lpd-icon>
    }
  </a>
}
