@use '../../../shared/' as *;

.link {
  @include flex(row, space-between, center);
  text-align: center;
  @include typography-s;
  margin: $spacing-01 $spacing-03;
  text-decoration: none;
  app-icon {
    padding: 0 $spacing-01;
  }
  app-image {
    padding: 0 $spacing-03;
  }
}
