@if (item()?.isInternal) {
  <a class="link" [routerLink]="item()?.href" [fragment]="item()?.fragment" [target]="'_self'">
    {{ item()?.label }}
    <lpd-icon [iconName]="item()?.iconName" [iconPrefix]="item()?.iconPrefix || 'fas'"></lpd-icon>
  </a>
} @else if (item()?.isExternal) {
  <a class="link" [attr.href]="item()?.href" [target]="'_blank'">
    {{ item()?.label }}
    <lpd-icon [iconName]="item()?.iconName" [iconPrefix]="item()?.iconPrefix || 'fas'"></lpd-icon>
  </a>
} @else {} <!-- TODO implement mail phone and icon only links -->
