@use '../../../shared/index.scss' as *;

.footer {
  width: 100%;
  margin: 0 auto;
  max-width: 80vw;
  @include grid(1fr 1fr, auto);
  @include mobile-medium {
    @include grid(1fr 1.5fr 1fr, auto);
    gap: 3rem;
  }
  @include tablet {
    max-width: 70vw;
  }
}

.image {
  grid-column: 1/4;
  grid-row: 3;
  object-fit: contain;
  height: auto;
  max-width: 100%;
  @include mobile-medium {
    grid-row: 1;
    grid-column: 2;
    max-width: 15rem;
    justify-self: center;
  }
}

.footnote {
  justify-self: center;
  grid-column: 1/4;
  grid-row: 4;
  margin-top: 3rem;
  @include mobile-medium {
    grid-row: 2;
  }
}

.social-link {
  top: 0;
  left: 50%;
  transform: translate(-50%, -60%);
  position: absolute;
  ::ng-deep .icon {
    font-size: 3rem;
    @include transition(all, 200ms, ease-in);
    &:hover {
      filter: $shadow-blue;
    }
  }
}
.column {
  grid-row: 1;
  gap: 1rem;
  @include flex(column, flex-start, flex-start, nowrap);
  &.right {
    align-items: flex-end;
  }
}
