@use '../../../shared/index.scss' as *;

.headline {
  filter: $shadow-green;
  margin: 7rem 2rem 0rem 2rem;
  z-index: 10;
  position: relative;
  @include small-desktop {
    position: fixed;
    top: 1%;
    left: 1%;
    writing-mode: sideways-rl;
    height: 100dvh;
    text-wrap: nowrap;
  }
}

.main-textblock {
  margin: 0 auto;
  width: 100%;
  max-width: 90vw;
  @include small-desktop {
    max-width: 70vw;
  }
}
footer {
  position: relative;
  background-color: $accent-orange;
  padding: 3rem 0 2rem 0;
  @include border-top($accent-orange);
}
